services:
  # Metrics Server
  metrics-server:
    build:
      context: ./metrics_server
      dockerfile: Dockerfile
    ports:
      - "9100:9100"
    volumes:
      - ./metrics_server/config:/app/config
      - ./metrics_server/data:/app/data
    networks:
      - blockchain-net

networks:
  blockchain-net:
    driver: bridge

# Individual node services will be appended here by the generator script
